@import '~antd/dist/antd.dark.min.css';
/* @import '~antd/dist/antd.css';
Light Theme */
:root {
  --app-bg-color: #0e0e0e;
  --component-bg-color: #1b1b1b;
  --malachite: #13cd3c;
  --royal-blue: #4d53d9;
  --red-violet: #cd45a2;
  --gray: #717171;
  --arsenic: #333436;
  --cerise: #ed2a70;
  --dark-pastel-green: #13c63a;
  --cerulean-blue: #2f45c5;
  --amethyst: #8145cd;
  --bittersweet: #ff6370;
  --bistre: #452326;
  --power-blue: #9babc5;
  --fire-brick: #c52f2f;
  --pastel-pink: #ffdff5;
  --orchid: #d758ab;
  --blue-black: #181826;
}

* {
  box-sizing: border-box;
  user-select: none;
  margin: 0px;
  padding: 0px;
  font-family: 'Ubuntu', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--app-bg-color);
  box-shadow: inset 0px -15px 50px -22px rgba(0, 0, 0, 0.57),
    inset 0px 60px 50px -30px rgba(0, 0, 0, 0.5);
}
.app-bg {
  background-color: var(--app-bg-color);
}
.component-bg {
  background-color: var(--component-bg-color);
}

.routing-area {
  /* border: 1px solid rgb(167, 167, 41); */
}

.folder-area {
  margin: 10px 100px;
  overflow: auto;
}

.folder-bubble {
  /* border: 1px solid whitesmoke; */
  border-radius: 10px;
  padding: 5px;
  position: relative;
  height: 75px;
  margin-top: 5px;
  background-color: rgb(27, 27, 27);
}
.file-name-folderArea .folder-name-folderArea{
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  left: 15px;
  top: 15px;
}

.symbl {
  width: 50px;
}

.synced-true,
.synced-false {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
}
.synced-true {
  background-color: #17a736;
}
.synced-false {
  background-color: var(--fire-brick);
}

.file-ui:hover,
.folder-ui:hover,
.breadcrumb-item:hover {
  cursor: pointer;
}

.breadcrumb {
  /* border: 1px solid red; */
  border-radius: 10px;
  padding: 3px 4px;
  margin: 5px 2px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  background-color: rgb(20, 20, 20);
  padding: 5px 15px;
}

.ignore-btn {
  border: 2px solid white;
  margin: 5px;
  padding: 5px;
  background-color: rgb(30, 30, 30);
  color: white;
}
.ignore-btn:hover {
  cursor: pointer;
  background-color: black;
}

.contain-collapse {
  width: 20vw;
  position: absolute;
  bottom: 0px;
}
#uploadPercentage {
  display: flex;
  justify-content: space-evenly;
}
.uploadCircle {
  padding-bottom: 5px;
}
.uploadCircle:hover{
  cursor: pointer;
}

.uploadingCollapse{
  background-color: transparent;
}
.uploadingPanel{
  background-color: rgb(20, 20, 20);
  margin-bottom: 15px;
  border-radius: 3px solid white;
  overflow: hidden;
}
.uploadingCollapse .uploadingPanel{
  border: 0px;
}

.fileInfo-fileList{
  display: flex;
}
.fileStatus-fileList{
}
.fileName-fileList{
  padding-left: 10px;
}