@import '~antd/dist/antd.dark.min.css';

/* @import '~antd/dist/antd.css';
Light Theme */
:root {
  --app-bg-color: #0e0e0e;
  --component-bg-color: #1b1b1b;
  --malachite: #13cd3c;
  --royal-blue: #4d53d9;
  --red-violet: #cd45a2;
  --gray: #717171;
  --arsenic: #333436;
  --cerise: #ed2a70;
  --dark-pastel-green: #13c63a;
  --cerulean-blue: #2f45c5;
  --amethyst: #8145cd;
  --bittersweet: #ff6370;
  --bistre: #452326;
  --power-blue: #9babc5;
  --fire-brick: #c52f2f;
  --pastel-pink: #ffdff5;
  --orchid: #d758ab;
  --blue-black: #181826;
}

* {
  box-sizing: border-box;
  user-select: none;
  margin: 0px;
  padding: 0px;
  font-family: 'Ubuntu', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--app-bg-color);
  box-shadow: inset 0px -15px 50px -22px rgba(0, 0, 0, 0.57),
    inset 0px 60px 50px -30px rgba(0, 0, 0, 0.5);
}
.app-bg {
  background: rgb(51, 65, 101);
  background: linear-gradient(
    163deg,
    rgba(51, 65, 101, 1) 0%,
    rgba(55, 40, 40, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
}
.component-bg {
  background-color: var(--component-bg-color);
}

.routing-area {
  /* border: 1px solid rgb(167, 167, 41); */
}

.folder-area {
  margin: 10px 100px;
  overflow: auto;
}

.folder-bubble {
  /* border: 1px solid whitesmoke; */
  border-radius: 10px;
  padding: 5px;
  position: relative;
  height: 75px;
  margin-top: 5px;
  background-color: rgb(27, 27, 27);
}
.file-name-folderArea .folder-name-folderArea {
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  left: 15px;
  top: 15px;
}

.symbl {
  width: 50px;
}

.synced-true,
.synced-false {
  /* height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px; */

  height: 100%;
  width: 15px;
  position: absolute;
  right: 0px;
  top: 0px;
  border-radius: 0px 5px 5px 0px;
}
.synced-true {
  background-color: #17a736;
}
.synced-false {
  background-color: var(--fire-brick);
}

.folder-ui:hover,
.breadcrumb-item:hover {
  cursor: pointer;
}

.file-ui {
  backdrop-filter: blur(51px);
  background-color: rgba(0, 0, 0, 0.225);
  height: 75px;
  border-radius: 5px;
  /* border: 1px solid white; */
  padding-left: 10px;
  padding-top: 7px;
  margin: 2px;
}

.folder-ui {
  backdrop-filter: blur(51px);
  background: rgb(27, 27, 27);
  height: 75px;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 7px;
  margin: 2px;
}
.folder-ui:hover {
  background-color: rgb(18, 18, 18);
}

.breadcrumb {
  /* border: 1px solid red; */
  border-radius: 5px;
  padding: 3px 4px;
  margin: 5px 2px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  background-color: rgb(20, 20, 20);
  padding: 5px 15px;
}

.ignore-btn {
  border: 2px solid white;
  margin: 5px;
  padding: 5px;
  background-color: rgb(30, 30, 30);
  color: white;
}
.ignore-btn:hover {
  cursor: pointer;
  background-color: black;
}

#syncStatus {
  width: 170px;
  position: fixed;
  bottom: 0px;
  border-radius: 5px 5px 0px 0px;
}

.uploadCircle {
  padding-bottom: 5px;
}
.uploadCircle:hover {
  cursor: pointer;
}

.uploadingCollapse {
  background-color: transparent;
}
.uploadingPanel {
  background-color: rgb(20, 20, 20);
  margin-bottom: 15px;
  border-radius: 3px solid white;
  overflow: hidden;
}
.uploadingCollapse .uploadingPanel {
  border: 0px;
}

.fileInfo-fileList {
  display: flex;
}
.fileStatus-fileList {
}
.fileName-fileList {
  padding-left: 10px;
}

.choose-repo {
  display: flex;
  /* border: 1px solid red; */
  margin-bottom: 5px;
  position: relative;
}

.repo-info {
  /* border: 1px solid yellow; */
  align-self: center;
}
.display-name {
  margin-right: 5px;
}

.repo-select-buttons {
  /* border: 1px solid white; */
  position: absolute;
  right: 0;
  transform: translate(0, -16%);
}
.repo-select-buttons button {
  border-radius: 5px;
  margin-left: 3px;
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}

.Divider-align {
  position: absolute;
  top: 30%;
}
.align-connectbutton-google {
  position: absolute;
  top: 50%;
  left: 30%;
}
.Image-Align-google {
  height: 20px;
  width: 20px;
}
.selection-area {
  background: rgba(46, 115, 252, 0.048);
  border: 2px solid rgba(98, 155, 255, 0.51);
  border-radius: 0.1em;
}

.login-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 250px;
  /* margin: 0 1rem; */
}

.login-area .title {
  text-align: center;
}

.sign-in {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
}

.sign-in button {
  border: none;
  background-color: var(--arsenic);
  cursor: pointer;
  border-radius: 100px;
  transition: all 0.2s;
  box-shadow: 0px 0px 17px -7px rgba(0, 0, 0, 1);
  max-width: 55%;
}

.sign-in button:hover {
  box-shadow: 0px 0px 20px -7px rgba(255, 255, 255, 1);
}

.sign-in button .inner {
  padding: 0.4rem 1rem;
  display: flex;
  flex-flow: row nowrap;
  gap: 0.4rem;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

.radius-7 {
  border-radius: 7px;
}

.text-center {
  text-align: center;
}
